/*----------  RESET  ----------*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  overflow-x: hidden;
  background-color: #001E6C;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav .inner-nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Large and up */
}
@media screen and (min-width: 64em) {
  nav .inner-nav {
    height: 100px;
  }
}
nav .logo-zodiac {
  width: 90px;
  height: 80px;
  display: inline-block;
}
nav .logo-zodiac svg {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}
nav .logo-zodiac svg g {
  fill: #ffffff;
}

.content-global {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
}

.container-zodiac {
  position: relative;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.buttons-slide {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #ffffff;
}
.buttons-slide.prev {
  left: 0;
}
.buttons-slide.next {
  right: 0;
}

.card-zodiac {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.card-zodiac .zodiac-img {
  max-width: 200px;
  margin-bottom: 1rem;
}
.card-zodiac .zodiac-img img {
  width: 100%;
}
.card-zodiac .title-zodiac {
  color: #001E6C;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 38px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
}

.font-title-general {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.font-small {
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.font-input {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: normal;
  margin-bottom: 1rem;
}

.title-principal {
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 3rem;
}

.fondo-total {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.float-img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20%;
  z-index: -1;
}

.float-constelacion {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  z-index: -1;
}

.button-back {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.p-pink {
  color: #F94892;
}

.p-blue {
  color: #001E6C;
}

.title-formulario {
  color: #001E6C;
  margin-bottom: 1.5rem;
}

.form-principal {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
}

.form-input {
  background-color: #ffffff;
  border: 1px solid #DFDFDF;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container {
  display: flex;
  flex-direction: column;
}
.form-container label {
  margin-bottom: 0.5rem;
}

.input-date {
  padding: 1rem;
  border: 1px solid #001E6C;
  margin-bottom: 1rem;
}

.button-blue {
  background-color: #001E6C;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0.5rem 2rem;
  color: #ffffff;
  border-radius: 15px;
  transition: all 300ms;
  border: none;
  cursor: pointer;
}
.button-blue:hover, .button-blue:focus {
  background-color: #FFE9A0;
  color: #000000;
  transform: scale(1.05);
}

.link-blue {
  color: #001E6C;
  transition: all;
}
.link-blue:hover, .link-blue:focus {
  color: #FFE9A0;
}

.content-resultado {
  width: 50%;
  margin: 0 auto;
  max-width: 500px;
  background-color: #ffffff;
  border: 1px solid #DFDFDF;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content-resultado .title-resultado {
  color: #001E6C;
  margin-bottom: 1.5rem;
}
.content-resultado .title-signo {
  color: #277BC0;
  text-align: center;
  align-self: center;
  margin-top: 2rem;
}
.content-resultado .link-blue {
  margin-top: 1rem;
}
.content-resultado .img-signo {
  width: 40%;
  margin: 0 auto;
}
.content-resultado .img-signo img {
  width: 100%;
}

.detalle-horoscopo {
  width: 50%;
  margin: 0 auto;
  max-width: 600px;
  background-color: #ffffff;
  border: 1px solid #DFDFDF;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.detalle-horoscopo .header-horoscopo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.detalle-horoscopo .header-horoscopo .circle-icon {
  flex-shrink: 0;
  width: 200px;
  margin-right: 2rem;
}
.detalle-horoscopo .header-horoscopo .title-horoscopo {
  color: #001E6C;
}
.detalle-horoscopo .text-horoscopo {
  margin-bottom: 2rem;
}
.detalle-horoscopo .compatibilidad-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.detalle-horoscopo .compatibilidad-grid .title-compatibilidad-general {
  color: #001E6C;
  margin-bottom: 2rem;
}
.detalle-horoscopo .compatibilidad-grid .grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
}
.detalle-horoscopo .compatibilidad-grid .grid-row .row-compatibilidad {
  grid-column-start: span 4;
  margin-bottom: 1rem;
}
.detalle-horoscopo .compatibilidad-grid .grid-row .row-compatibilidad .content-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detalle-horoscopo .compatibilidad-grid .grid-row .row-compatibilidad .content-row .icon-signo {
  width: 80%;
  margin-bottom: 1rem;
}
.detalle-horoscopo .compatibilidad-grid .grid-row .row-compatibilidad .content-row .title-compatibilidad {
  color: #001E6C;
}

.flex-option {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-option .card-option:first-child {
  margin-right: 2.5rem;
}

.card-option {
  text-decoration: none;
  height: 220px;
  width: 40%;
  max-width: 400px;
  position: relative;
  box-shadow: 8px -8px 30px #ffffff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  animation: glow 4s infinite alternate;
  background-color: #FFE9A0;
}
.card-option .title-option {
  color: #001E6C;
}

@keyframes glow {
  0% {
    box-shadow: 8px -8px 30px #ffffff;
  }
  50% {
    box-shadow: 0 8px 30px #ffffff;
  }
  75% {
    box-shadow: -8px 8px 30px #ffffff;
  }
  100% {
    box-shadow: -8px -8px 30px #ffffff;
  }
}
.login-container {
  min-height: 100vh;
  padding: 100px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container .form-container {
  width: 500px;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 20px;
}
