@{
    ViewData["Title"] = "Home";
}
<div class="container-header">
    <div class="header-img" style="background-image: url('images/banner.jpg');"></div>
</div>
<div class="container-content">
    <div class="grid-container">
        <h1 class="title-content">¿Cual es tu signo del zodiaco?</h1>
    </div>
</div>
