.title-formulario {
    color: $azul;
    margin-bottom: 1.5rem;
}

.form-principal {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
}

.form-input {
    background-color: $blanco;
    border: 1px solid #DFDFDF;
    padding: 2rem;
}
